<div id="header">
    <div class = "logo">
        <a href="/">ロゴ</a>
    </div>
    <div class ="link">
        <ul id="nav">
            <li>
               <%= link_to "ログイン", login_path %>
            </li>
        </ul>
    </div>
</div>

<h2>新規登録</h2>

<%= form_with model: @user, local: true do |f| %>
<div class="field">
    <%= f.label :email,"メールアドレス" %><br>
    <%= f.text_field :email %>
</div>

<div class="field">
    <%= f.label :password, "パスワード" %><br>
    <%= f.password_field :password %>
</div>

<div class="field">
    <%= f.label :password_confirmation, "パスワードの確認" %><br>
    <%= f.password_field :password_confirmation %>
</div>

<div class="actions">
    <%= f.submit "登録", class: "btn" %>
</div>

<% end %>

<div id="footer">
    <p>© 2020 Rails blog</p>
</div>