<h3>プロフィールページ</h3>
<% if @user.image.attached? %>
    <%= image_tag @user.image, style: "width: 60px; border-radius: 50%;" %>
<% else %>
    <%= image_tag "profile.png", style: "width: 60px; border-radius: 50%;" %>
<% end %>
<%= @user.name %>
<div class="follower">
<%= link_to followers_user_path(@user.id) do %>
<h5 style="color: black;">フォロワー<%= @user.followers.count %>人</h5> 
<% end %> 
</div>

<div class="follow">
    <%= link_to following_user_path(@user.id) do %>
    <h5 style="color: black;">フォロー<%= @user.following.count %>人</h5>
    <% end %>
</div>
<div>
<%= render 'follow_form' %>
</div>

<%= link_to "ホームへ戻る", root_path %>