<div id="header">
    <div class = "logo">
        <a href="/">ロゴ</a>
    </div>
    <div class ="link">
        <ul id="nav">
            <li>
                <%= link_to "投稿", new_post_path %>
            </li>
            <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
            </li>
        </ul>
    </div>
</div>
<div class="container">
            <%= form_with model: @post, local: true do |f| %>
            <%= f.text_area :content,placeholder: "いまどうしてる？", rows: 5  %>
            <%= f.file_field :images, multiple: true %><br>
            <div class="submit-block">
            <%= f.submit class: "btn" %>
            </div>
            <% end %>
        </div>
<div id="footer">
    <p>© 2020 Rails blog</p>
</div>