<body>
<div class="content">
    <div class="user-about">
        <div class="image">
        <% if post.user.image.attached? %>
            <%= image_tag post.user.image, style: "width: 60px; border-radius: 50%;" %>
        <% else %>
            <%= image_tag "profile.png", style: "width: 60px; border-radius: 50%;" %>
        <% end %>
        </div>
        <div class="profile">
            <div class="name-study">
                <div class="name"> 
                <%=link_to post.user.name, user_path(post.user_id) %>
                </div>
                <div class="study">
                   <%= "学習歴: #{post.user.study}年" %>
                </div>
            </div>
            <div class="purpose">
              <%= "Ruby on Railsを学んでいる目的： #{post.user.purpose} " %>
            </div>
        </div>
    </div>
    <div class="text">
       <p><%= post.content %></p>
    </div>
    <% if post.images.present? %>
        <div class="images">
         <% post.images.each do |image| %>
            <%= image_tag image %> <br>
         <% end %>
        </div>
    <% end %>
    <%= link_to post_path(post), method: :delete , data: { confirm: '本当に削除してよろしいですか?' } do%>
        <i class="fas fa-trash-alt"></i>
    <% end %>
    <div class="action-menu">
        <div class="like">
            <% if current_user.liked_by?(post.id) %>
                  <%= link_to like_path(post), method: :delete, remote: true do %>
                  <i class="fas fa-heart unlike-btn"></i>
                  <% end %>
                  <%= post.likes.count %>
              <% else %>
                  <%= link_to likes_path(id: post.id), method: :post, remote: true do %>
                  <i class="fas fa-heart like-btn"></i>
                  <% end %>
                  <%= post.likes.count %>
            <% end %>
        </div>
        <div class="comment">
        <%= link_to post_path(post) do %>
            <i class="far fa-comment-dots"></i>
        <% end %>
        <%= post.comments.count %>
        </div>
    </div>
</div>
</body>