<div id="header">
    <div class = "logo">
        <a href="/">ロゴ</a>
    </div>
    <div class ="link">
        <ul id="nav">
            <li>
                <%= link_to "投稿", new_post_path %>
            </li>
            <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
            </li>
        </ul>
    </div>
</div>

<div class="content-wrapper">
    <div class="content-block">
        <% @posts.each do |post| %>
            <div class="content">
                <div class="user-about">
                    <div class="image">
                        <%= image_tag "user.png", style: "width: 60px; border-radius: 50%;"  %>
                    </div>
                    <div class="profile">
                        <div class="name-study">
                            <div class="name">
                                ジェシカ
                            </div>
                            <div class="study">
                                学習歴：3ヶ月
                            </div>
                        </div>
                        <div class="purpose">
                          Ruby on Railsを学んでいる目的： Railsを使って色々なアプリケーションを開発したい！
                        </div>
                    </div>
                </div>
                <div class="text">
                   <p><%= post.content %></p>
                </div>
                
                <% if post.images.attached? %>
                    <div class="images">
                     <% post.images.each do |image| %>
                        <%= image_tag image %> <br>
                     <% end %>
                    </div>
                <% end %>
                
                <div class="action-menu">
                    <div class="like">
                        
                    </div>
                    <div class="comment">
                        
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    <div class="sidebar">
        <div class ="box"></div>
        <div class ="box"></div>
    </div>
</div>
   
    <div id="footer">
        <p>© 2020 Rails blog</p>
    </div>