<div id="header">
    <div class = "logo">
        <a href="/">ロゴ</a>
    </div>
    <div class ="link">
        <ul id="nav">
            <li>
               <%= link_to "投稿", posts_path %>
            </li>
            <li>
                <a href="#">メニュー2</a>
            </li>
            <li>
                <a href="#">メニュー3</a>
            </li>
        </ul>
    </div>
</div>
<h1>投稿を作成する</h1>
<div>
    <%= form_with model: @post, local: true do |f| %>
    <%= f.text_area :content, rows: 5  %>
    <%= f.file_field :images, multiple: true %><br>
    <div class="submit-block">
    <%= f.submit class: "btn" %>
    </div>
    <% end %>
</div>

<div id="footer">
    <p>© 2020 Rails blog</p>
</div>