<div class="content">
    <div class="user-about">
        <div class="image">
            <%= image_tag @post.user.image, style: "width: 60px; border-radius: 50%;" %>
        </div>
        <div class="profile">
            <div class="name-study">
                <div class="name">
                    <%= @post.user.name %>
                </div>
                <div class="study">
                   <%= "学習歴: #{@post.user.study}年" %>
                </div>
            </div>
            <div class="purpose">
              <%= "Ruby on Railsを学んでいる目的： #{@post.user.purpose} " %>
            </div>
        </div>
    </div>
    <div class="text">
       <p><%= @post.content %></p>
    </div>
    </div>

<div class="row">
    <ul>
        <li class="comment-create">
            <h2 class="text-title">コメント</h2>
        </li>
        <li id="comments_area">
            <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </li>
    </ul>
    <hr>
        <div class="comment-create">
            <h3 class="text">コメント投稿</h3>
            <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
        </div>
</div>

<%= link_to "ホームへ戻る", posts_path %>
